# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.idea
__pycache__

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyBuilder
target/

#Dependencies
poetry.lock
